.cache/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pt
*.bin
*.safetensors
wandb/

.secrets

# Vendored third-party repos (nested git repos)
third_party/thinking-llms-interp/
third_party/steering-thinking-llms/
third_party/chainscope/

